body{
    background-image: url("../img/bg.jpg");
}
.col-xs-1-10,
.col-sm-1-10 {
    position: relative;
    min-height: 1px;
}

.col-xs-1-10 {
    height: 50px;
    width: 10%;
    float: left;
}
.square {
    border: black 1px solid;
    background-color: rgba(255,255,255,0.5);
}
.square:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}
.squareValue{
    margin-top: 32%;
}

.gameBoard {
    margin-top: 5%;
}
.infoBox{
    padding: 2%;
    background-color: rgba(255,255,255,0.5);
    border: black 1px dotted;
}
.infoBox p{
    margin: 0;
    padding: 0;
    color: #8a3900;
}
h1{
    color: #c2c7ca;
    text-shadow: black 1px 1px;
    font-weight: bold;
}
h2 {
    color: #6d9cca;
    text-shadow: black 1px 1px;
    font-weight: bold;
}
.nav {
    background-color: rgba(255,255,255,0.5);
}
